@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body,
html {
  background: black;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
button,
input {
  -webkit-tap-highlight-color: transparent;
}
/*
.media-input {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}
.media-input input {
  width: 100%; height: 100%;
  opacity: 0;
}
*/
